body {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(to bottom, #add8e6, #ffffff, #d3d3d3);
}

footer div {
  background-color: rgba(0, 0, 0, 0.2);
}
product-car{
    position: fixed;
}